<p>I currently work as a Project Associate with Innovations for Poverty Action in Dakar, Senegal. I build 
surveys that are administered using SurveyCTO on Android phones, and I manage the monitoring and preliminary
cleaning of the resulting data. <a href="http://www.poverty-action.org/project/0574">More about our project.</a>
</p>

<h2>Education</h2>
<ul>
  <li>MA, Economics, Boston University (2013)</li>
  <li>BA, Economics, Virginia Tech (2012)</li>
  <li>BS, Mathematics, Virginia Tech (2012)</li>
</ul>

<hr />
