<p>I'm a first year PhD student in Agricultural and Applied Economics at the University of Wisconsin, Madison.
My interests currently tend towards behavioral economics and industrial organization in the context of developing countries.</p>

<p>Before coming to Madison, I worked as a Research Associate with Innovations for Poverty Action in Dakar, Senegal. The project aimed to test
a number of interventions in the urban sanitation services market. <a href="http://www.poverty-action.org/project/0574">More about our project.</a></p> 

<p>My primary responsibilities in this role were to build surveys using SurveyCTO and develop our monitoring and analysis capabilities using Stata and R. I have also supported the testing and scale-up of a call center for sanitation services, which sets prices using SMS-based auctions.</p>

<p>The PIs on the project were <a href="http://www.jeanfrancoishoude.info/WordPress/">Jean-François Houde</a>, <a href="http://faculty.virginia.edu/mlipscomb/Molly_Lipscomb/Home.html">Molly Lipscomb</a>, and <a href="https://www.aae.wisc.edu/lschechter/">Laura Schechter</a>.</p>

<p>Previously, I worked as a Research Assistant for <a href="http://djavadsalehi.com/">Djavad Salehi-Isfahani</a>. I also worked as a Research Analyst at <a href="http://www.kcoe.com/featured-services/sustainability/">Vela Environmental</a> on climate policy and sustainability issues.</p>
<hr />

<h2>Papers</h2>
<ul>
  <li>"The reform of energy subsidies in Iran: The role of cash transfers," with Djavad Salehi-Isfahani and Bryce Stucki. <i>Emerging Markets Finance and Trade,</i> Forthcoming.</li>
</ul>

<h2>Education</h2>
<ul>
  <li>MA, Economics, Boston University (2013)</li>
  <li>BA, Economics, Virginia Tech (2012)</li>
  <li>BS, Mathematics, Virginia Tech (2012)</li>
</ul>


