<p>I currently work as a Project Associate with Innovations for Poverty Action in Dakar, Senegal. We are testing a 
number of interventions in the urban sanitation services market. I build 
surveys that are administered using SurveyCTO on Android phones, and I manage the monitoring and preliminary
cleaning of the resulting data. <a href="http://www.poverty-action.org/project/0574">More about our project.</a>
</p>

<hr />

<h2>Papers</h2>
<ul>
  <li>"The reform of energy subsidies in Iran: The role of cash transfers," with Djavad Salehi-Isfahani and Bryce Stucki. <i>Emerging Markets Finance and Trade,</i> Forthcoming.</li>
</ul>

<h2>Education</h2>
<ul>
  <li>MA, Economics, Boston University (2013)</li>
  <li>BA, Economics, Virginia Tech (2012)</li>
  <li>BS, Mathematics, Virginia Tech (2012)</li>
</ul>


